<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <div>
      <% if @employee.avatar.attached? %>
        <%= image_tag @employee.avatar, class: "mx-auto h-20 w-20 rounded-full" %>
      <% else %>
        <img class="mx-auto h-20 w-20 rounded-full" src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
      <% end %>
      <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900"> <%= @employee.name %></h2>
      <%# <div class="mx-auto max-w-md py-12 px-4 sm:px-0 md:py-16> %>
      <p class="text-sm text-gray-500 text-center">   <%= @employee.email %></p>
      <p class="text-sm text-gray-500 text-center">   <%= @employee.bio %></p>
      <div class="">
        <%= link_to edit_user_path, class:"float-right m-px inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-6 py-1 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3 -ml-1 mr-3 h-5 w-5"><path d="M12 20h9"></path><path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path></svg>
          Edit
        <% end %>
        <%= button_to  employee_path(@employee), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, method: :delete, class:"float-right inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-6 py-1 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" do %>
          <!-- Heroicon name: mini/envelope -->
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash -ml-1 mr-3 h-5 w-5" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/> <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/> </svg>
        </svg>
        Delete
      <% end %>
    </div>
  </div>
</div>
